/*BlogCard.module.css*/
.blog_card {
    width: 300px;
    background-color: #f8f8f8;
    border: 1px solid #eaeaea;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.blog_card_footer {
    display: flex;
    justify-content: space-between;
    font-size: small;
}

.blog_card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}

.blog_card h3 {
    font-size: 1.5em;
    font-weight: 600;
    margin-bottom: 10px;
}

.blog_card p {
    font-size: 1em;
    line-height: 1.5;
    color: #444;
}