/*!*ProfileDetails.module.css*!*/

/*.container {*/
/*  width: 100%;*/
/*  margin: 0 auto;*/
/*  padding: 20px;*/
/*  font-family: Arial, sans-serif;*/
/*}*/

/*h2 {*/
/*  font-size: 24px;*/
/*  margin-bottom: 20px;*/
/*}*/

/*.profile_container {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  align-items: start;*/
/*  padding: 20px;*/
/*  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);*/
/*}*/

/*h4 {*/
/*  font-size: 20px;*/
/*  margin-bottom: 10px;*/
/*}*/

/*p {*/
/*  font-size: 16px;*/
/*  margin-bottom: 20px;*/
/*}*/

/*.button {*/
/*  border: none;*/
/*  border-radius: 4px;*/
/*  background-color: #6a706f;*/
/*  color: #ffffff;*/
/*  cursor: pointer;*/
/*  transition: background-color 0.3s ease;*/
/*}*/

/*.button:hover {*/
/*  background-color: #007d6c;*/
/*}*/

/*button:not(:last-child) {*/
/*  margin-right: 500px;*/
/*}*/

.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.tabs_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Distributes the tabs evenly */
  margin-bottom: 20px; /* Space between tabs and profile content */
}

.profile_container {
  display: flex;
  flex-direction: row;
  align-items: start;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
}

.button {
  border: none;
  border-radius: 4px;
  background-color: #6a706f;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 10px 20px; /* Added padding for buttons */
}

.button:hover {
  background-color: #007d6c;
}
.active {
  background-color: rgba(0, 125, 108, 0.75);
}
