/* Profile.module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-family: Arial, sans-serif;
}

.container h2 {
  color: #4a47a3;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.user_details {
  background: linear-gradient(135deg, #4a47a3, #8e44ad);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  padding: 1.5rem;
  width: 80%;
  margin-bottom: 1rem;
}

.user_details h4 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.user_details p {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.token_container {
  background: linear-gradient(135deg, #3498db, #9b59b6);
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  padding: 1.5rem;
  width: 80%;
}

.token_container h4 {
  font-size: 1.5rem;
  word-wrap: break-word;
}
button {
  justify-content: center;
  padding-left: 100px;
}

@media (max-width: 768px) {
  .user_details,
  .token_container {
    width: 90%;
  }
}
